*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: 121.7vh;

}

.preloader{
    width: 100%;
    height: 100%;
    background-color: rgb(230, 202, 151);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader-card{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.top-preloader-card{
    width: 100%;
    height: 80%;
    background-color: yellow;
}
.bottom-preloader-card{
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    position: relative;
    overflow: hidden;
}


.preloader-image{
    width: 100%;
    height: 100%;
}

.moving-line {
    width: 10%;
    height: 100%;
    background-color: brown;
    position: absolute;
    animation: move-line 2s linear infinite;
}
@keyframes move-line {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(180deg);}
    
}


@media (max-width:588px) {
    .top-preloader-card{
        width: 100%;
        height: 50%;
        background-color: yellow;
    } 

    .bottom-preloader-card{
        width: 100%;
        height: 5%;
    
    }
}


@media (max-width:511px) {
    .top-preloader-card{
        width: 100%;
        height: 40%;
        background-color: yellow;
    } 

    .bottom-preloader-card{
        width: 100%;
        height: 5%;
        
    }
}


@media (max-width:415px) {
    .preloader-card{
        width: 90%;
        height: 90%;
    }
    .top-preloader-card{
        width: 100%;
        height: 30%;
        background-color: yellow;
    } 

    .bottom-preloader-card{
        width: 100%;
        height: 3%;
    
    }
}


@media (max-width:344px) {
    .preloader-card{
        width: 90%;
        height: 90%;
    }
    .top-preloader-card{
        width: 100%;
        height: 30%;
        background-color: yellow;
    } 

    .bottom-preloader-card{
        width: 100%;
        height: 3%;
    }
}



.section-one{
    width: 100%;
    height: 110vh;
    display: flex;
    background-color: rgb(230, 202, 151);
    font-family: 'Roboto', sans-serif;
}

.left-section-one{
    width: 25%;
    height: 110vh;
    background-color: blue;
    
}
.right-section-one{
    width: 75%;
    height: 110vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;

    
}
.header{
    width: 100%;
    height: 13vh;
    border-radius: 3px;
    padding: 0.5rem;
    display: flex;
    background-color: white;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 8rem;
    height: 4rem;
    background-color: orangered;
    border-radius: 1px;
    

}
.logo-image{
    width: 100%;
    height: 100%;
}

.other-header{
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: end;
    color: green;
    gap: 1rem;
    font-size: 220%;
}
@media (max-width:462px) {
    .other-header{
        font-size: 170%;
    }
    
}
@media (max-width:390px) {
    .other-header{
        font-size: 150%;
        gap: 0.5rem;
    }
    
}
.header-icons-two{
    padding: 3rem;

}
.pic{
    width: 40px;
    height: 40px;
    background: url(profile.png);
    background-size: cover;
    border-radius: 50%;
}
@media (max-width:765px) {
   .left-section-one{
    display: none;
   }
   .right-section-one{
    width: 100%;
   }
    
}

.card-body{
    width: 100%;
    height: 83vh;
    display: flex;
    gap: 0.5rem;
}
@media (max-width:991px) {
    .card-body{
        flex-direction: column;
    }
}
.big-card-one{
    width: 40%;
    height: 83vh ;
    background: linear-gradient(to left,red,orangered),red;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    
}
.inner-big-one{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.top-inner-big-one{
    width: 100%;
    height: 33%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    font-size: 250%;

}
#balance{
    color: white;

}
.middle-inner-big-one{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 170%;
}
.bottom-inner-big-one{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 170%;
}
@media (max-width:991px) {
    .big-card-one{
        width: 100%;
        height: 45vh ;
        background-color: white;
        
    }
    
}


.big-card-two{
    width: 40%;
    height: 42vh ;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

}
@media (max-width:991px) {
    .big-card-two{
        width: 100%;
        height: 16vh ;
        flex-direction: row;
    }
    
}
.big-card-three{
    width: 40%;
    height: 83vh;
    display: flex;
    flex-direction: column;
}
@media (max-width:991px) {
    .big-card-three{
        width: 100%;
        height: 47vh ;
        flex-direction: column;
    }
    
}

.small-card-one{
    width: 100%;
    height: 20vh;
    background: linear-gradient(to right,blue,rgb(68, 68, 204),blue);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.inner-small-one{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.top-inner-small-one{
    width: 100%;
    height: 33%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    font-size: 170%;

}

.middle-inner-small-one{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

.bottom-inner-small-one{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 150%;
}
@media (max-width:469px) {
    .middle-inner-small-one{
        font-size: 130%;
    }
    .bottom-inner-small-one{
        font-size: 130%;
    }
}
@media (max-width:412px) {
    .middle-inner-small-one{
        font-size: 110%;
    }
    .bottom-inner-small-one{
        font-size: 110%;
    }
}
@media (max-width:355px) {
    .middle-inner-small-one{
        font-size: 90%;
    }
    .bottom-inner-small-one{
        font-size: 90%;
    }
}
@media (max-width:303px) {
    .middle-inner-small-one{
        font-size: 70%;
    }
    .bottom-inner-small-one{
        font-size: 70%;
    }
}
@media (max-width:991px) {
    .small-card-one{
        width: 50%;
        height: 15vh;
    }
    
    
    
}
.small-card-two{
    width: 100%;
    height: 20vh;
    background: linear-gradient(to left,green,#06D001);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
@media (max-width:991px) {
    .small-card-two{
        width: 50%;
        height: 15vh;

    }
   
}


.small-card-three{
    width: 100%;
    height: 20vh;
    background: linear-gradient(to right,orangered,#df5403d3,orangered);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
@media (max-width:991px) {
    .small-card-three{
        width: 50%;
        height: 15vh;
        
    }
   
}



.small-card-four{
    width: 100%;
    height: 20vh;
    background-color: #9B3922;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media (max-width:991px) {
    .small-card-four{
        width: 50%;
        height: 15vh;
    }
   
}
@media (max-width:500px) {
    #interest{
        font-size: 120%;
       
    }
   
}
@media (max-width:434px) {
    #interest{
        font-size: 100%;
       
    }
   
}
@media (max-width:369px) {
    #interest{
        font-size: 90%;
       
    }
   
}
@media (max-width:338px) {
    #interest{
        font-size: 80%;
       
    }
   
}


   

.small-card-five{
    width: 100%;
    height: 20vh;
    background: linear-gradient(to right,rgb(59, 3, 59),#850F8D);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
@media (max-width:555px) {
    #investment{
        font-size: 130%;
    }
}
@media (max-width:481px) {
    #investment{
        font-size: 110%;
    }
}
@media (max-width:415px) {
    #investment{
        font-size: 100%;
    }
}
@media (max-width:384px) {
    #investment{
        font-size: 90%;
    }
}
@media (max-width:345px) {
    #investment{
        font-size: 80%;
    }
}

@media (max-width:991px) {
    .small-card-five{
        width: 50%;
        height: 15vh;
    }
   
}

.small-card-six{
    width: 100%;
    height: 20vh;
    background: linear-gradient(to right,#F72798,rgb(109, 33, 45));
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
@media (max-width:991px) {
    .small-card-six{
        width: 50%;
        height: 15vh;
    }
   
}
.part-one{
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
@media (max-width:991px) {
    .part-one{
        width: 100%;
        height: 16vh ;
        flex-direction: row;
        margin-bottom: 0rem;
    }
   
}
.part-two{
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}
@media (max-width:991px) {
    .part-two{
        width: 100%;
        height: 16vh ;
        flex-direction: row;
    }
   
}
.card-body2{
    width: 100%;
    height: 12rem;
    display: none;
    grid-template-columns: 7rem 7rem 7rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    
    
}
.smaller-cards{
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.top-smaller-cards{
    width: 70%;
    height: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 170%;
    border-radius: 100%;
    color: white;
}
#smaller-2{
    background-color: green;
}
#smaller-1{
    background-color: orange;
}
#smaller-3{
    background-color: red;
}
#smaller-4{
    background-color: blue;
}
#smaller-5{
    background-color: orange;
}
.bottom-smaller-cards{
    width: 100%;
    height: 30%;
    font-size: 70%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
}
@media (max-width:576px) {
    .card-body2{
        display: grid;
    }
}
@media (max-width:399px) {
    .card-body2{
        grid-template-columns: 6rem 6rem 6rem;
    }
    
}
@media (max-width:348px) {
    .card-body2{
        grid-template-columns: 5rem 5rem 5rem;
    }
    .smaller-cards{
        height: 11vh;
    }
    
}
@media (max-width:301px) {
    .card-body2{
        grid-template-columns: 4rem 4rem 4rem;
    }
    .smaller-cards{
        height: 10vh;
    }
    
}

.referral{
    width: 95%;
    height: 10vh;
    background-color: blue;
}
@media (max-width:576px) {
    .section-one{
        height: 140vh;
    }
    .right-section-one{
        height: 140vh;
    }
    .referral{
        width: 95%;
        height: 13vh;
        background-color: blue;
    }
   
}

.section-two{
    width: 100%;
    height: 11.7vh;
    background-color: blue;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 5;
    padding: 0.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
@media (max-width:496px) {
    .section-two{
        height: 11vh;
    }
}
@media (max-width:398px) {
    .section-two{
        height: 10vh;
    }
}
@media (max-width:384px) {
    .section-two{
        height: 9vh;
    }
}
.smallest-cards{
    width: 10%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}
@media (max-width:576px) {
    .smallest-cards{
      width: 15%;
      height: 12vh;


    }
    .section-two{
        display: flex;
    }
    
}
@media (max-width:506px) {
    .smallest-cards{
      width: 15%;
      height: 10vh;


    }
    
}
@media (max-width:408px) {
    .smallest-cards{
      width: 15%;
      height: 9vh;

    }
    
}
@media (max-width:384px) {
    .smallest-cards{
      width: 15%;
      height: 7vh;


    }
    
}
@media (max-width:324px) {
    .smallest-cards{
      width: 15%;
      height: 7vh;

    }
    .section-two{
        gap: 0.5rem;
    }
    
}

#smallest-3{
    background-color: white;
}

.top-smallest-cards{
    width: 70%;
    height: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 170%;
    border-radius: 100%;
    color: black;
}

.bottom-smallest-cards{
    width: 100%;
    height: 30%;
    font-size: 70%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}












    


