*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-one{
    width: 100%;
    height: 110vh;
    background-color: green;
    display: flex;
}

.left-section-one{
    width: 25%;
    height: 110vh;
    background-color: blue;
    
}
.right-section-one{
    width: 75%;
    height: 110vh;
    background-color: orange;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;

    
}
.header{
    width: 100%;
    height: 13vh;
    border-radius: 3px;
    padding: 0.5rem;
    display: flex;
    background-color: white;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 8rem;
    height: 4rem;
    background-color: orangered;
    border-radius: 1px;
    

}
.logo-image{
    width: 100%;
    height: 100%;
}

.other-header{
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: end;
    color: green;
    gap: 1rem;
    font-size: 220%;
}
.header-icons-two{
    padding: 3rem;

}
.pic{
    width: 40px;
    height: 40px;
    background: url(profile.png);
    background-size: cover;
    border-radius: 50%;
}
@media (max-width:765px) {
   .left-section-one{
    display: none;
   }
   .right-section-one{
    width: 100%;
   }
    
}

.card-body{
    width: 100%;
    height: 83vh;
    background-color: red;
    display: flex;
    gap: 0.5rem;
}
@media (max-width:991px) {
    .card-body{
        flex-direction: column;
    }
}
.big-card-one{
    width: 40%;
    height: 83vh ;
    background-color: white;
    border-radius: 20px;
    
    
}
@media (max-width:991px) {
    .big-card-one{
        width: 100%;
        height: 45vh ;
        background-color: white;
           
    }
    
}

.big-card-two{
    width: 40%;
    height: 42vh ;
    background-color: white;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

}
@media (max-width:991px) {
    .big-card-two{
        width: 100%;
        height: 16vh ;
        background-color: white;
        flex-direction: row;
    }
    
}
.big-card-three{
    width: 40%;
    height: 83vh ;
    background-color: white;
    display: flex;
    flex-direction: column;
}
@media (max-width:991px) {
    .big-card-three{
        width: 100%;
        height: 47vh ;
        flex-direction: column;
    }
    
}

.small-card-one{
    width: 100%;
    height: 20vh;
    background-color: black;
    border-radius: 20px;
}
@media (max-width:991px) {
    .small-card-one{
        width: 50%;
        height: 15vh;
        background-color: black;
    }
    
    
    
}
.small-card-two{
    width: 100%;
    height: 20vh;
    background-color: black;
    border-radius: 20px;
}
@media (max-width:991px) {
    .small-card-two{
        width: 50%;
        height: 15vh;
        background-color: black;
    }
   
}


.small-card-three{
    width: 100%;
    height: 20vh;
    background-color: green;
    border-radius: 20px;
}
@media (max-width:991px) {
    .small-card-three{
        width: 50%;
        height: 15vh;
        background-color: black;
        
    }
   
}



.small-card-four{
    width: 100%;
    height: 20vh;
    background-color: black;
    border-radius: 20px;
}
@media (max-width:991px) {
    .small-card-four{
        width: 50%;
        height: 15vh;
        background-color: black;
    }
   
}


   

.small-card-five{
    width: 100%;
    height: 20vh;
    background-color: black;
    border-radius: 20px;
}
@media (max-width:991px) {
    .small-card-five{
        width: 50%;
        height: 15vh;
        background-color: black;
    }
   
}

.small-card-six{
    width: 100%;
    height: 20vh;
    background-color: black;
    border-radius: 20px;
}
@media (max-width:991px) {
    .small-card-six{
        width: 50%;
        height: 15vh;
        background-color: black;
    }
   
}
.part-one{
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
@media (max-width:991px) {
    .part-one{
        width: 100%;
        height: 16vh ;
        background-color: pink;
        flex-direction: row;
        margin-bottom: 0rem;
    }
   
}
.part-two{
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}
@media (max-width:991px) {
    .part-two{
        width: 100%;
        height: 16vh ;
        background-color: blue;
        flex-direction: row;
    }
   
}
.card-body2{
    width: 100%;
    height: 12rem;
    background-color: brown;
    display: none;
    grid-template-columns: 7rem 7rem 7rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    
    
}
.smaller-cards{
    width: 100%;
    height: 13vh;
    background-color: black;

}
@media (max-width:576px) {
    .card-body2{
        display: grid;
    }
}
@media (max-width:399px) {
    .card-body2{
        grid-template-columns: 6rem 6rem 6rem;
    }
    
}
@media (max-width:348px) {
    .card-body2{
        grid-template-columns: 5rem 5rem 5rem;
    }
    .smaller-cards{
        height: 11vh;
    }
    
}
@media (max-width:301px) {
    .card-body2{
        grid-template-columns: 4rem 4rem 4rem;
    }
    .smaller-cards{
        height: 10vh;
    }
    
}

.referral{
    width: 95%;
    height: 10vh;
    background-color: blue;
}
@media (max-width:576px) {
    .section-one{
        height: 140vh;
    }
    .right-section-one{
        height: 140vh;
    }
    .referral{
        width: 95%;
        height: 13vh;
        background-color: blue;
    }
   
}

.section-two{
    width: 100%;
    height: 13vh;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 5;
    padding: 0.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.smallest-cards{
    width: 10%;
    height: 10vh;
    background-color: brown;
}
@media (max-width:576px) {
    .smallest-cards{
      width: 15%;
      height: 12vh;
      background-color: brown;


    }
    .section-two{
        display: flex;
    }
    
}
@media (max-width:506px) {
    .smallest-cards{
      width: 15%;
      height: 10vh;
      background-color: brown;

    }
    
}
@media (max-width:408px) {
    .smallest-cards{
      width: 15%;
      height: 9vh;
      background-color: brown;

    }
    
}
@media (max-width:384px) {
    .smallest-cards{
      width: 15%;
      height: 7vh;
      background-color: brown;

    }
    
}
@media (max-width:324px) {
    .smallest-cards{
      width: 15%;
      height: 7vh;
      background-color: brown;

    }
    .section-two{
        gap: 0.5rem;
    }
    
}








    


